<%= content_for :title, "Podcasts" %>
<%= render_sidebar %>

<div class="entry">
  <%= render_flash %>
  <% @podcasts.each do |podcast| %>
    <div class="podcast">
      <h2><%= link_to podcast.title, podcast_path(podcast) %></h2>
      <p>
      <strong>Published on <%= podcast.published_on.strftime("%B %-d, %Y") %></strong>
      <% if podcast.keywords.present? %>
        <br><strong>Keywords: <%= podcast.keywords %></strong>
        <% end %>
        </p>
      <p><%= podcast.notes.html_safe %></p>
      <p><%= content_tag :audio, nil, src: podcast.file.url %></p>
      <%= link_to "DOWNLOAD", podcast_url(podcast, :mp3), :class => 'button big register' %>
      <% if podcast.itunes_url.present? %>
        <%= link_to "LISTEN ON ITUNES", podcast.itunes_url, :class => 'button big register', :target => "_blank" %>
      <% end %>
      <% unless @podcasts.last == podcast %>
        <hr>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @podcasts %>
</div>

